### Libraries

In [1]:
#!pip install requests
#!pip install beautifulsoup4
#!pip install pandas

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

/home/amina/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
titles = []
prices = []
ratings = []

In [4]:
url = 'https://webscraper.io/test-sites/e-commerce/allinone/computers/laptops'

### web scraping

In [7]:
request = requests.get(url)
soup = BeautifulSoup(request.text, "html.parser")
for product in soup.find_all('div', {'class': 'col-sm-4 col-lg-4 col-md-4'}):
    for pr in product.find_all('div', {'class': 'caption'}):
        for p in pr.find_all('h4', {'class': 'pull-right price'}):
            prices.append(p.text)
        for title in pr.find_all('a' , {'title'}):
            titles.append(title.get('title'))
    for rt in product.find_all('div', {'class': 'ratings'}):
        ratings.append(len(rt.find_all('span', {'class': 'glyphicon glyphicon-star'})))

### build dataframe

In [ ]:
product_df = pd.DataFrame(zip(titles,prices,ratings), columns =['Titles', 'Prices', 'Ratings'])  
product_df.head()

                               Titles   Prices  Ratings
0          Asus VivoBook X441NA-GA190  $295.99        3
1  Prestigio SmartBook 133S Dark Grey  $299.00        2
2       Prestigio SmartBook 133S Gold  $299.00        4
3                       Aspire E1-510  $306.99        3
4                   Lenovo V110-15IAP  $321.94        3

### save dataframe to csv file

In [ ]:
product_df.to_csv("./output/ecommerce.csv",index=False)